<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h4 >Connecting to Paypal.</h4>
        <br>
        <h1>Please wait...</h1>
        <form name="f1" action="/paypal">
            <!-- <button type="submit"> Pay </button> -->
        </form>
        <form name="f2" action="/paypalFull">
            <!-- <button type="submit"> Pay </button> -->
        </form>
    </div>
</body>
</html>